html {
	font-size:16px;
}

body {
	min-height: 100%;
	position: absolute;
	min-width: 100%;
	padding-bottom: 12rem;
	font-size:1rem;
}

h1 {
	font-size:2.571rem;
}

h2 {
	font-size:2.143rem;
}

h3 {
	font-size:1.5rem;
}

h4 {
	font-size:1.4rem;
}

h5 {
	font-size:1.3rem;
}

h1, h2, h3, h4, h5, h6 {
	margin-top: 0.6em;
	margin-bottom: 0.26em;
}

h1 img {
	height:1em;
	vertical-align:bottom;
}

.results-list, .results-list li {
	list-style: none;
	text-indent: 0;
	margin-left:0;
	padding: 0;
	margin-bottom: 0.2em;
}
.handlebar-template {
	display: none;
}
.btn-github {
	background-color:#444;
	background-image:none;
	color:white;
	text-shadow:none;
	line-height: 1.5em;
	vertical-align: top;
}
.btn-github:hover {
	background-color:#555;
	background-image:none;
	color:white;
	text-shadow:none;
	line-height: 1.5em;
	vertical-align: top;
}
.hero {
	text-align: center;
}
.repo-form {
	width:;
}
.form-inline.form-control .left-of-slash, .form-inline.form-control .right-of-slash {
	width:40%;
}
.slash {
	display:inline-block;
}
.login-explanation {
	color:#666;
	font-size:0.8em;
	margin-top:1rem;
}
.passed-features .tick {
	color:green;
}
.failed-features .cross {
	color:red;
}

.failure-suggestion {
	display:block;
	box-sizing:border-box;
	padding-left:1.3em;
	color:#777;
}

.warnings .exclaimation {
	color:orange;
}
.explanation-link {
	font-size:0.4em;
	font-weight:normal;
	display:block;
	margin-top: 0.2em;
}

.sticky-footer {
	position: absolute;
	left:0;
	right:0;
	bottom:0;
	margin-top:2rem;
}

.sticky-footer__info, .sticky-footer__info li {
	list-style:none;
	text-indent:none;
	text-align:center;
}

.sticky-footer__info li {
	display: inline-block;
}

.sticky-footer__info li:before {
	color:rgb(34, 156, 236);
	color:rgba(34, 156, 236, 0.77);
	content:'\2022';
	margin:0.5em 0.5em 0.5em 0.2em;
}

.sticky-footer__info li:first-child:before {
	content:'';
	margin-left:0;
}

.sticky-footer__info li:last-child {
	margin-right:0;
}

.navigation-controls {
	text-align: right;
}

.navigation-controls .btn {
	margin-top:1.8rem;
}

.go-back {
	display:block;
}